.arrange-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: linear-gradient(90deg, var(--color-arrange-1) 50%, var(--color-arrange-2) 50%);
}

.left {
  width: 50%;
  padding: 8rem 0 4rem 15rem;
}

.logo-2 {
  fill: var(--color-arrange-2);
}

.container-arrange {
  position: relative;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  width: 40%;
  display: table;
  height: max-content;
  opacity: 0;
  visibility: hidden;
}

.list-item {  
  position: absolute;
  display: table-row;
  height: 8rem; /* 90px */
  min-width: 50rem;
  width: 60rem;
  max-width: max-content;  
}

.item-content {
  height: 90%;
  border-radius: .4rem;
  color: var(--color-arrange-text);
  line-height: 7.5rem; /* 90px */
  padding: 0 3.2rem;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: var(--color-white);
  box-shadow: rgba(0,0,0, .2) 0px 1px 2px 0px;
}

.right {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 8rem 0 4rem 0;
}

/* Original order of questions menu */
.menu {
  width: 65%;
  height: max-content;
  display: block;
  position: relative;
  cursor: context-menu;
  text-decoration: none;
  background: var(--color-arrange-menu-1);
  border-radius: .5rem .5rem 0 0;
  box-shadow: 0 0 .5rem 0 rgba(55, 74, 50, .25);
  transition: background .5s;
}

/* when menu is not hovered over */
.menu:not(:hover) > .questions > .item {
  visibility: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  color: transparent;
  transition: 
    .5s height,
    .5s padding,
    .5s margin,
    .3s color,
    .6s visibility;
  z-index: 99;
}

.menu:not(:hover) > .questions {
  padding: .4rem 0;
  background: var(--color-white);
  z-index: 99;
  color: transparent;
}

.menu:not(:hover) > .questions:after {
  border-top-color: var(--color-white);
}

.menu:not(:hover) > .questions_heading:after {
  border-bottom-color: var(--color-white);
}

/* when menu IS hovered over */
.menu:hover { 
  background: var(--color-arrange-menu-2);
}

.menu:hover > .questions_heading:before {
  border-top-width: 0;
  transition:
    .2s border-top-width ease-in,
    .3s border-top-color;
}

.menu:hover > .questions_heading:after {
  border-bottom-width: 1.5rem;
  transition: .2s .2s border-bottom-width ease-out;
}

.questions_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  letter-spacing: .4rem;
  font-size: 2rem;
  text-align: center;
  color: var(--color-arrange-menu-3);
  font-weight: bold;
  text-transform: uppercase;
}



.questions_heading:before, .questions_heading:after {
  content: "";
  display: block;
  height: 0;
  border-left: 100% solid transparent; /* 26.4rem for normal desktop */
  border-right: 100% solid transparent; /* 26.4rem for normal desktop */
  position: absolute;
  left: 0;
  z-index: 101;
}

.questions_heading:before {
  border-top: 1.5rem solid var(--color-arrange-menu-4);
  border-bottom: 0 solid var(--color-white);
  top: 100%;
  transition:
      .2s .2s border-top ease-out,
      .3s border-top-color;
}

.questions_heading:after {
  transition: .2s border-bottom ease-in;
}

.questions_heading:hover:before {
  border-top-color: var(--color-arrange-menu-5);
}

.questions {
  min-width: 100%;
  padding: 1rem;
  position: absolute;
  background: var(--color-white);
  z-index: 100;
  transition:
    .5s padding,
    .5s background;
  box-shadow: 0 0 .5rem 0 rgba(210,248,219,.25);
  border-radius: 1px;
}

.item {
  overflow: hidden;
  padding: .7rem 1rem;
  height: max-content;
  color: var(--color-arrange-text);
  font-size: 1.5rem;
  background: transparent;
  white-space: nowrap;
  transition: 
    .5s height cubic-bezier(.73,.32,.34,1.5),
    .5s padding cubic-bezier(.73,.32,.34,1.5),
    .5s margin cubic-bezier(.73,.32,.34,1.5),
    .5s .2s color,
    .2s background-color;
}

.btn-questions {
  color: var(--color-form-1);
  box-shadow: inset 0 -2rem 10rem rgba(255, 255, 255, .6);
  background: linear-gradient(
                180deg,
                #feffc3,
                #fdf9a3,
                #fffa88,
                #fdf769,
                #fff26d
              );
  animation: transform2 50s ease-in-out infinite both alternate;
  left: 45%;
  top: 60%;
}

.btn-questions:hover::after {
  opacity: 1;
}

.btn-questions:focus {
  background: var(--color-form-2); 
}

.btn-questions:after {
  box-shadow:  0 0 5rem rgba(255, 0, 0, .9);
  animation: transform2 50s ease-in-out infinite both alternate;
}

.github-2, .linkedin-2 {
  fill: var(--color-arrange-1);
  transition: fill .5s;
}

.instagram-2, .facebook-2 {
  fill: var(--color-arrange-2);
  transition: fill .5s;
}