*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::selection {
  background: transparent;
  color: var(--color-white);
}

html {
  /* this defines what 1rem is */
  font-size: 62.5%; /* 1rem = 10px */
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%; /* 1rem = 12px */
  }
}

body {
  box-sizing: border-box;
  font-family: Thasadith, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

.App {
    height: 100vh;
}