@media only screen and (max-width: 1550px) {
  /* Form Route */
  .form {
    width: 56%;
    height: 60%;
  }

  .btn {
    width: 12%;
    min-height: 17.7rem;
  }

  .btn-question {
    left: 6%;
  }

  .btn-arrange {
    left: 83%;
  }

  .submit:before {
    border-bottom: 6.1rem solid var(--color-form-8);
    border-right: 6.1rem solid transparent;
  }

  .submit:hover:before {
    transform: translate(-49.61%);
  }

  .submit:after {
    /* top: 1px; */
    border-top: 6.1rem solid var(--color-form-8);
    border-left: 6.1rem solid transparent;
  }

  .footer-1 {
    top: 88.8%;
  }

  .footer-1 svg {
    width: 29px;
  }

  .copyright {
    font-size: 1.2rem;
  }

  /* Arrange Route */
  .list-item {
    min-width: 40rem;
  }

  /* Question Route */
  .footer-2 svg {
    width: 29px;
  }

  /* Answers Route */
  .footer-4 svg {
    width: 29px;
  }
}
