@media only screen and (max-width: 1550px) {
  /* Form Route */
  .form {
    width: 56%;
    height: 60%;
  }

  .btn {
    width: 12%;
    min-height: 17.7rem;
  }

  .btn-question {
    left: 6%;
  }

  .btn-arrange {
    left: 83%;
  }

  .footer-1 {
    top: 88.8%;
  }

  .footer-1 svg {
    width: 29px;
  }

  /* Arrange Route */
  .list-item {
    min-width: 40rem;
  }

  /* Question Route */
  .footer-2 svg {
    width: 29px;
  }

  /* Answers Route */
  .footer-4 svg {
    width: 29px;
  }
}
