:root {
  --color-black: #000;
  --color-white: #fff;
  
  --color-form-1: #2f295e;
  --color-form-2: #f0e892;
  --color-form-3: #bc1a0e;
  --color-form-4: rgba(255, 0, 0, .9);
  --color-form-5: #7d5697;
  --color-form-6: #f1fec5;
  --color-form-7: rgba(0, 0, 0, .2);
  
  --color-arrange-1: #d4c1f2;
  --color-arrange-2: #7ea078;
  --color-arrange-text: #d31515;
  --color-arrange-menu-1: #d2f8db;
  --color-arrange-menu-2: #374a32;
  --color-arrange-menu-3: #83a550;
  --color-arrange-menu-4: #9dc852;
  --color-arrange-menu-5: #8db842;
  
  --color-questions-1: #352b52; /* #6b2d41 */
  --color-questions-2: #8c355f; /* #efce99 */
  --color-questions-3: #f25e59; /* #d4787b */
  --color-questions-4: #ffaca1; /* #fb9701 */
  --color-questions-5: #abaaba;

  --color-results-btn-1: #dce4e5;
  --color-results-btn-2: #f3d8ee;

  --color-answers-1: #ca4c31;
  --color-answers-2: #edb11a;

  --color-error-1: #eaca58;
  --color-error-2: #ef675f;

  --color-404-1: #fb0c0c;
  --color-404-2: #34fb0c;
  --color-404-3: #222;
  --color-404-4: rgba(12, 79, 251,.5);
}